body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
  background-image: url(TypeScriptBack.jpg);
}

p {
  margin: 5px;
  text-indent: 20px;
  line-height: 120%;
}

#content {
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  width: 80%;
  padding: 30pt;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;

}
a:hover{
  color: #087ac8;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
}
#kesz{
  font-weight: bold;
  color: #087ac8;
}
#harom{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
td, th{
  border: solid gray 1px;
}
th{
  color: white;
  background-color: #087ac8;
}
